{
    "presets": [
        [
            "react-app",
            {
                "absoluteRuntime": false
            }
        ],
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": "3.22"
            }
        ]
    ]
}